.display {
  margin: 0 5px;
  width: 5em;
  height: 2em;
  background-color: azure;
  text-align: center;
  vertical-align: middle;
  line-height: 2em;
}

.display-positive {
  color: aliceblue;
  background-color: dodgerblue;
}

.display-negative {
  color: aliceblue;
  background-color: crimson;
}